/*全局样式表*/

html, body, #app {
    height: 100%;
    padding: 0;
    margin: 0;
}

/*页面顶部区域*/
.el-header{
    padding: 0;
}

/*侧边栏右侧展示区域*/
.content-box {
    position: absolute;
    left: 300px;
    right: 0;
    top: 60px;
    bottom: 30px;
    padding-bottom: 30px;
    background-color: #ffffff;
}

.sidebar-box {
    border-right: 1px #eaedf1 solid;
}

.sidebar-box .sidebar-el-menu:not(.el-menu--collapse) {
    width: 300px;
}

/*右侧展示区域的内部*/
.container {
    padding: 30px;
    background: #fff;
    /*border: 1px solid #ddd;*/
    /*border-radius: 5px;*/
}

.el-notification.left{
    /*background-color: #b8e3cc;*/
    left: 240px;
    /*left: 33%;*/
    position: fixed;
    width: 400px;
}

.el-button {
    /*margin-top: 10px;*/
}

/*分页*/
.pagination {
    margin: 20px 0;
    text-align: right;
}
