/*全局样式表*/

html, body, #app {
    height: 100%;
    padding: 0;
    margin: 0;
}

.el-button {
    margin-top: 10px;
}

/*侧边栏右侧展示区域*/
.content-box {
    position: absolute;
    left: 250px;
    right: 0;
    top: 60px;
    bottom: 30px;
    padding-bottom: 30px;
    background: #f0f0f0;
}


/*展示区域内部*/
.container {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: auto;
    height: 100%;
    padding: 10px;
    overflow-y: scroll;
    box-sizing: border-box;
}

.el-notification.left{
    /*background-color: #b8e3cc;*/
    left: 240px;
    /*left: 33%;*/
    position: fixed;
    width: 400px;
}
